<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Add product:
<form action="/addProducts" method="post">
    Product name: <input type="text" name="productName"> </b>
    Price: <input type="text" name="price"> </b>
    Category <input type="text" name="category">
    <input type="submit" value="Submit">
</form>
<a href="index.html"> Back to login</a>
<a href="showCart.html"> Show Cart As Admin</a>
</body>
</html>