<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/showspecificproduct" method="post">
  Search bar: <input type="text" name="searchedName">
  <input type="submit" th:value="Submit">
</form>
<form action="/showspecificcategory" method="post">
  <select name="chosenCategory" onchange="this.form.submit()">
    <option>--</option>
    <option th:each="c : ${category}" th:text="${c}" th:value="${c}">
    </option>
  </select>
</form>
<div th:each="p : ${products}">
  Name: <span th:text="${p.name}"></span>
  Price: <span th:text="${p.price}"></span>
  Category: <span th:text="${p.category}"></span>
  <form action="/addtocart" method="post">
    Amount to Buy: <input type="number" name="amount" value="1">
    <input type="hidden" name="index" th:value="${p.id}">
    <input type="submit" value="Buy">
  </form>
</div>

<a href="/showcart">Show Cart</a>
  <a href="/">Back to login</a>
</body>
</html>