<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:each="co : ${customersordersadmin}">
      Customer:
      <td th:text="${co.customer.email}"></td>
      <div th:each="ci : ${co.cartItems}">
      : Product name :
      <td th:text=" ${ci.product.name}"></td>
      : Amount :
      <td th:text="${ci.amount}"></td>
      : Shipped :
      <td th:text="${co.shipped}"></td>

      </div>
    <form action="/showAllOrders" method="post">
        <input type="hidden" name="shipped"  th:value="${co.id}">
        <input type="submit" name="ship" value="Ship">
    </form>

</div>
<p>
    <a href="/">Back to login</a>
</p>
</body>
</html>